<div class="application">
  <div class="image_area">
    <div class="image_area-window">
      <span class='alignment-helper'></span
      ><img alt="Your image" src="{{ image_source }}" class="{{ image_classes }}"/>
    </div>
    <div class="image_area-upload">
      {{ image-upload }}
    </div>
  </div>
  <div class="actions_area">
    <div class="reset_actions">
      <button {{action 'reset'}} class="button_reset">Reset</button>
    </div>
    <div class="actions_lists">
      <div class="actions_lists_half">
        <ul class="actions_available">
          {{#each available_actions as |action| }}
            <li {{action 'add_action' action}} class="action">{{action.name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="actions_lists_half">
        <ul class="actions_applied">
          {{#each applied_actions as |action| }}
          <li {{action 'remove_action' action}} class="action">{{action.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
