<div class="application">
  <div class="image-area">
    <div class="image-window">
      <img alt="Your image" src="{{ image_source }}" class="{{ image_classes }}"/>
    </div>
    <input type="file" class="js-image-upload">
  </div>
  <div class="actions-area">
    <ul class="actions-available">
      {{#each action in available_actions}}
      <li {{action 'add_action' action}} class="action">{{action.name}}</li>
      {{/each}}
    </ul>
    <ul class="actions-aplied">
      {{#each action in applied_actions}}
      <li {{action 'remove_action' action}} class="action">{{action.name}}</li>
      {{/each}}
    </ul>
    <button class="button-reset">Reset</button>
  </div>
</div>
